/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2014, 10:51:05 AM
    Author     : VCC44349
*/
root { 
    display: block;
}
.root {
-fx-background-image: url("background.jpg");
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.label_u {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-underline: true;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.vin_label {
    -fx-font-size: 8px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-text-fill: "blue";
}

.scaleweight {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-text-fill: "blue";
}

#welcome-text {
   -fx-font-size: 16px;
   -fx-font-family: "Arial Black";
}
#vin {
   -fx-font-size: 8px;
   -fx-font-family: "Arial Black";
}
#last_vin {
   -fx-font-size: 14px;
   -fx-font-family: "Arial blue";
}
#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
    -fx-font: 10px arial;
    -fx-background-color: lightgray;
}

.text-field {
   -fx-font-size: 12px;
}

.small_label {
    -fx-font-size: 6px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-text-fill: "blue";
}

.range_label {
    -fx-font-size: 8px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-text-fill: "blue";
}


