.titled-pane 
{
-fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";    
-fx-text-fill: -fx-text-base-color;
}
.titled-pane:focused 
{
-fx-text-fill: white;
}
.titled-pane > .title 
{
-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title 
{
-fx-color: #7a7775;
}

.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: white;
}


.combo-box-popup .list-view
 {
   -fx-background-color: -fx-box-border, -fx-control-inner-background;
   -fx-background-insets: 0, 1;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
 }
.combo-box-popup .list-view .list-cell
 {
	-fx-background-color: #ececec;
	-fx-text-fill: #282a2d;
	-fx-font-family: Oxygen Light;
 }
 
 .combo-box-popup .list-view {
    -fx-font-size : 13pt;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#5e5a59, #757271);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#757271, #5e5a59);
}

#table-button {
    -fx-pref-height: 500px; -fx-pref-width: 200px;
    
}

.tree-cell {
    -fx-font-weight: bold ;
}
.tree-cell:leaf {
    -fx-font-weight: normal ;
    -fx-background: red;
}
.radio-btn{
	-fx-font-size: 10pt;
}