#font-size-8 {
    -fx-font-size: 8;
}

#font-size-9 {
    -fx-font-size: 9;
}

#font-size-10 {
    -fx-font-size: 10;
}

#font-size-11 {
    -fx-font-size: 11;
}

#font-size-12 {
    -fx-font-size: 12;
}

#font-size-13 {
    -fx-font-size: 13;
}

#font-size-14 {
    -fx-font-size: 14;
}

#font-size-15 {
    -fx-font-size: 15;
}

#font-size-16 {
    -fx-font-size: 16;
}

#font-size-17 {
    -fx-font-size: 17;
}

#font-size-18 {
    -fx-font-size: 18;
}

#font-size-19 {
    -fx-font-size: 19;
}

#font-size-20 {
    -fx-font-size: 20;
}

#font-size-21 {
    -fx-font-size: 21;
}

#font-size-22 {
    -fx-font-size: 22;
}

#font-size-23 {
    -fx-font-size: 23;
}

#font-size-24 {
    -fx-font-size: 24;
}

#font-size-25 {
    -fx-font-size: 25;
}

#font-size-26 {
    -fx-font-size: 26;
}

#font-size-27 {
    -fx-font-size: 27;
}

#font-size-28 {
    -fx-font-size: 28;
}

#font-size-29 {
    -fx-font-size: 29;
}

#font-size-30 {
    -fx-font-size: 30;
}

#font-size-31 {
    -fx-font-size: 31;
}

#font-size-32 {
    -fx-font-size: 32;
}

#font-size-33 {
    -fx-font-size: 33;
}

#font-size-34 {
    -fx-font-size: 34;
}

#font-size-35 {
    -fx-font-size: 35;
}

#font-size-36 {
    -fx-font-size: 36;
}

#font-size-37 {
    -fx-font-size: 37;
}

#font-size-38 {
    -fx-font-size: 38;
}

#font-size-39 {
    -fx-font-size: 39;
}

#font-size-40 {
    -fx-font-size: 40;
}

#font-size-41 {
    -fx-font-size: 41;
}

#font-size-42 {
    -fx-font-size: 42;
}

#font-size-43 {
    -fx-font-size: 43;
}

#font-size-44 {
    -fx-font-size: 44;
}

#font-size-45 {
    -fx-font-size: 45;
}

#font-size-46 {
    -fx-font-size: 46;
}

#font-size-47 {
    -fx-font-size: 47;
}

#font-size-48 {
    -fx-font-size: 48;
}

#font-size-49 {
    -fx-font-size: 49;
}

#font-size-50 {
    -fx-font-size: 50;
}

#font-size-51 {
    -fx-font-size: 51;
}

#font-size-52 {
    -fx-font-size: 52;
}

#font-size-53 {
    -fx-font-size: 53;
}

#font-size-54 {
    -fx-font-size: 54;
}

#font-size-55 {
    -fx-font-size: 55;
}

#font-size-56 {
    -fx-font-size: 56;
}

#font-size-57 {
    -fx-font-size: 57;
}

#font-size-58 {
    -fx-font-size: 58;
}

#font-size-59 {
    -fx-font-size: 59;
}

#font-size-60 {
    -fx-font-size: 60;
}

#font-size-61 {
    -fx-font-size: 61;
}

#font-size-62 {
    -fx-font-size: 62;
}

#font-size-63 {
    -fx-font-size: 63;
}

#font-size-64 {
    -fx-font-size: 64;
}

#font-size-65 {
    -fx-font-size: 65;
}

#font-size-66 {
    -fx-font-size: 66;
}

#font-size-67 {
    -fx-font-size: 67;
}

#font-size-68 {
    -fx-font-size: 68;
}

#font-size-69 {
    -fx-font-size: 69;
}

#font-size-70 {
    -fx-font-size: 70;
}

#font-size-71 {
    -fx-font-size: 71;
}

#font-size-72 {
    -fx-font-size: 72;
}