<mat-card class="mat-card, mat-elevation-z8">
    <mat-card-content>
        <span style="display: flex; justify-content: space-between !important;">
            <h2 class="mat-h2">Legend</h2>
            <button style="width: 20px; height: 20px; border: none; background-color: transparent;" (click)="close()">
                <mat-icon style="font-size: 20px; cursor: pointer;">chevron_right</mat-icon>
            </button>
        </span>
        <svg id="legendSvg">
            <use xlink:href="#station" x="3" y="5" height="24" width="24" />
            <text x="30" y="15" font-family="sans-serif" font-size="16px" fill="black" matTooltip="{{messages.get('tooltip.station')}}" matTooltipShowDelay="{{messages.tooltipDelay}}">
                - Station
            </text>
            <path d="M3 42 h10" fill="steelblue" marker-end="url(#triangle)" style="stroke:#034f84;stroke-width:1;z-index:0" />
            <text x="30" [attr.y]="15 + 1 * 30" font-family="sans-serif" font-size="16px" fill="black">
                - Line Direction
            </text>
            <rect [attr.x]="3" [attr.y]=" -3 + 2 * 30" [attr.rx]="2" [attr.ry]="2" [attr.width]="20" [attr.height]="25" class="section buffer" />
            <text x="30" [attr.y]="15 + 2 * 30" font-family="sans-serif" font-size="16px" fill="black">
                - Buffer Section
            </text>
            <rect [attr.x]="3" [attr.y]=" -3 + 3 * 30" [attr.rx]="2" [attr.ry]="2" [attr.width]="20" [attr.height]="25" class="section non-working" />
            <text x="30" [attr.y]="15 + 3 * 30" font-family="sans-serif" font-size="16px" fill="black">
                - Non Working Section
            </text>
            <rect [attr.x]="3" [attr.y]=" -3 + 4 * 30" [attr.rx]="2" [attr.ry]="2" [attr.width]="20" [attr.height]="25" class="section working" />
            <text x="30" [attr.y]="15 + 4 * 30" font-family="sans-serif" font-size="16px" fill="black">
                - Working Section
            </text>
            <rect [attr.x]="3" [attr.y]=" -3 + 5 * 30" [attr.rx]="2" [attr.ry]="2" [attr.width]="20" [attr.height]="25" class="section inspection" />
            <text x="30" [attr.y]="15 + 5 * 30" font-family="sans-serif" font-size="16px" fill="black">
                - Inspection Section
            </text>
            <rect [attr.x]="3" [attr.y]=" -3 + 6 * 30" [attr.rx]="2" [attr.ry]="2" [attr.width]="20" [attr.height]="25" class="section auto" />
            <text x="30" [attr.y]="15 + 6 * 30" font-family="sans-serif" font-size="16px" fill="black">
                - Auto Section
            </text>
            <rect [attr.x]="3" [attr.y]=" -3 + 7 * 30" [attr.rx]="2" [attr.ry]="2" [attr.width]="20" [attr.height]="25" class="section semi-auto" />
            <text x="30" [attr.y]="15 + 7 * 30" font-family="sans-serif" font-size="16px" fill="black">
                - Semi Auto Section
            </text>                
            <rect x="3" [attr.y]="8 *30" [attr.width]="locationView.width" [attr.height]="locationView.height" [attr.rx]="locationView.rx" [attr.ry]="locationView.ry" style="stroke:blue; stroke-width:4;opacity: 1;z-index:0; fill:none;" />
            <text x="30" [attr.y]="15 + 8 * 30" font-family="sans-serif" font-size="16px" fill="black">
                - Selected
            </text>
            <circle [attr.cx]="3 + locationView.width/2" [attr.cy]="20 + 9 * 30 - locationView.height" r="5" class="kd-lot" />
            <rect [attr.x]="3" [attr.y]="20 + 9 *30 - locationView.height" [attr.width]="locationView.width" [attr.height]="locationView.height" [attr.rx]="locationView.rx" [attr.ry]="locationView.ry" style="stroke:grey;stroke-width:2;opacity: 1;z-index:0; fill:#dee4e9;" />
            <text x="30" [attr.y]="15 + 9 * 30" font-family="sans-serif" font-size="16px" fill="black" matTooltip="{{messages.get('tooltip.new.lot')}}" matTooltipShowDelay="{{messages.tooltipDelay}}">
                - Beginning of KD Lot
            </text>
            <circle [attr.cx]="3 + locationView.width/2" [attr.cy]="11 + 10 * 30 + locationView.height/2" r="5" class="straggler" />
            <rect [attr.x]="3" [attr.y]="20 + 10 *30 - locationView.height" [attr.width]="locationView.width" [attr.height]="locationView.height" [attr.rx]="locationView.rx" [attr.ry]="locationView.ry" style="stroke:grey;stroke-width:2;opacity: 1;z-index:0; fill:#dee4e9;" />
            <text x="30" [attr.y]="15 + 10 * 30" font-family="sans-serif" font-size="16px" fill="black" matTooltip="{{messages.get('tooltip.straggler')}}" matTooltipShowDelay="{{messages.tooltipDelay}}">
                - Straggler
            </text>
            <ng-container *ngFor="let bl of issueTypes; index as i">
                <rect x="3" [attr.y]="(11 + i) * 30" [attr.width]="locationView.width" [attr.height]="locationView.height" [attr.rx]="locationView.rx" [attr.ry]="locationView.ry" style="stroke:grey;stroke-width:2;opacity: 1;z-index:0; fill:none;">
                    <!--
                    <animate attributeName="stroke" [attr.values]="bl.animation?.stroke?.values" [attr.dur]="bl.animation?.stroke?.duration" repeatCount='indefinite' />
                    <animate attributeName="opacity" [attr.values]="bl.animation?.opacity?.values" [attr.dur]="bl.animation?.opacity?.duration" repeatCount="indefinite" />
                    <animate attributeName="stroke-width" [attr.values]="bl.animation['stroke-width']?.values" [attr.dur]="bl.animation['stroke-width']?.duration" repeatCount="indefinite" />
                    -->
                </rect>
                <circle [attr.cx]="13" [attr.cy]="(11 + i) * 30 + 10" r="5" style="stroke-width: 0;">
                    <animate attributeName="fill" [attr.values]="bl.animation?.fill?.values" [attr.dur]="bl.animation?.fill?.duration" repeatCount='indefinite' />
                </circle>

                <text x="30" [attr.y]="15 + (11 + i) * 30" font-family="sans-serif" font-size="16px" fill="black" matTooltip="{{bl['tooltip']}}" matTooltipShowDelay="{{messages.tooltipDelay}}">
                    - {{bl['label']}}
                </text>
            </ng-container>
            <ng-container *ngFor="let model of models; index as i">
                <rect [attr.x]="3 + (20 - model.width)/2" [attr.y]="(11 + issueTypes.length + i) * 30 + (20 - model.height)/2" [attr.width]="model.width" [attr.height]="model.height" [attr.rx]="model.rx" [attr.ry]="model.ry" [style.strokeDasharray]="model.strokeDasharray" style="stroke:grey;stroke-width:2;opacity: 1;z-index:0; fill:none;" />
                <text x="30" [attr.y]="15 + (11 + issueTypes.length + i) * 30" font-family="sans-serif" font-size="16px" fill="black">
                    - {{model.label}}
                </text>
            </ng-container>
        </svg>
    </mat-card-content>
</mat-card>