<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="false" scanPeriod="10 seconds">

	<property resource="application.yml" />
	<springProperty scope="context" name="spring.application.name" source="spring.application.name" defaultValue="lc-product-service" />
	<springProperty scope="context" name="logging.maxFileSize" source="logging.maxFileSize" defaultValue="200MB" />
	<springProperty scope="context" name="logging.totalSizeCap" source="logging.totalSizeCap" defaultValue="1GB" />
	<springProperty scope="context" name="logging.maxHistory" source="logging.maxHistory" defaultValue="31" />
	<property name="logging.dir" value="${LOG_PATH:-/var/logs/application/}${spring.application.name}" />
	<property name="logging.file" value="${spring.application.name}" />
	<property name="pattern" value="%d [%thread] %-5level %logger{36} - %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging.dir}/${logging.file}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logging.dir}/${logging.file}_%d{yyyy-MM-dd}_%i.log.gz</fileNamePattern>
			<maxFileSize>${logging.maxFileSize}</maxFileSize>
			<totalSizeCap>${logging.totalSizeCap}</totalSizeCap>
			<maxHistory>${logging.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>