<span style="display: flex; height: 100%; overflow-x: auto; width: 100%;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Lot Assignment</mat-card-title>
      </mat-card-header>
        <mat-card-content id="part-table" style="box-shadow: 0px 1px 1px #000e; height: calc(100% - 90px)">
            <div class="table-container">
                <table [dataSource]="dataSource" class="table" mat-table matSort>
                  
                  <ng-container matColumnDef="select" class="pending-status">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let item">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(item) : null"
                                      [checked]="selection.isSelected(item)">
                        </mat-checkbox>
                      </td>
                  </ng-container> 

                  <ng-container matColumnDef="dcNumber">
                    <th class="header px-90-cell-width multi-line-text" mat-header-cell *matHeaderCellDef>
                      DC # <br>
                      <mat-form-field class="filter" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <!--<input matInput [formControl]="dcNumberFilter">-->
                        <mat-select  (selectionChange)="selectionDcNumberChange($event.value)"  placeholder="All" [formControl]="dcNumberFilter" multiple>
                          <mat-option value="all">All</mat-option>
                          <mat-option *ngFor="let item of dcNumberList" value="{{ item | lowercase }}">
                              {{ item }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </th>
                    <td mat-cell  *matCellDef="let item"  >{{item.dcNumber}}</td>
                  </ng-container>
                  <ng-container matColumnDef="model">
                        <th class="header px-60-cell-width" mat-header-cell *matHeaderCellDef>
                          Model <br>
                          <mat-form-field class="filter select-width-95-perc" floatLabel="never">
                            <mat-label>Search</mat-label>
                            <!-- <input matInput [formControl]="modelFilter"> -->
                            <mat-select (selectionChange)="selectionModelChange($event.value)" class="select-width-95-perc" placeholder="All" [formControl]="modelFilter" multiple>
                                <mat-option value="all">All</mat-option>
                                <mat-option *ngFor="let item of modelCodeList" value="{{ item | lowercase }}">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </th>
                        <td mat-cell class="px-60-cell-width" *matCellDef="let item">{{item.model}}</td>
                    </ng-container>
                    <ng-container matColumnDef="modelType">
                        <th class="header px-60-cell-width" mat-header-cell *matHeaderCellDef>
                          Type <br>
                          <mat-form-field class="filter select-width-95-perc" floatLabel="never">
                            <mat-label>Search</mat-label>
                            <!-- <input matInput [formControl]="modelTypeFilter"> -->
                            <mat-select (selectionChange)="selectionModelTypeChange($event.value)" placeholder="Select" [formControl]="modelTypeFilter" multiple>
                                <mat-option value="all">All</mat-option>
                                <mat-option *ngFor="let item of modelTypeList" value="{{ item | lowercase }}">
                                    {{ item }}
                                </mat-option>
                            </mat-select>

                          </mat-form-field>
                        </th>
                        <td mat-cell class="px-60-cell-width" *matCellDef="let item">{{item.modelType}}</td>
                    </ng-container>
                    <ng-container matColumnDef="dcPartNumber">
                      <th class="header px-90-cell-width" mat-header-cell *matHeaderCellDef>
                        DC Part # <br>
                        <mat-form-field class="filter select-width-95-perc" floatLabel="never">
                          <mat-label>Search</mat-label>
                          <!-- <input matInput [formControl]="letSystemNameFilter"> -->
                          <mat-select (selectionChange)="selectionDcPartNumberChange($event.value)" placeholder="Select" [formControl]="dcPartNumberFilter" multiple>
                            <mat-option value="all">All</mat-option>
                            <mat-option *ngFor="let item of dcPartNumberList" value="{{ item | lowercase }}">
                                {{ item }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </th>
                      <td mat-cell class="px-90-cell-width" *matCellDef="let item">{{item.dcPartNumber}}</td>
                  </ng-container>
                    <!-- <ng-container matColumnDef="dcPartNumber">
                      <th class="header px-70-cell-width" mat-header-cell *matHeaderCellDef>
                        DC Part # <br>
                        <mat-form-field class="filter select-width-95-perc" floatLabel="never">
                          <mat-label>Search</mat-label>
                          <input matInput [formControl]="dcPartNumberFilter">
                        </mat-form-field>
                      </th>
                      <td mat-cell class="px-70-cell-width" *matCellDef="let item">{{item.dcPartNumber}}</td>
                    </ng-container> -->
                    <ng-container matColumnDef="letSystemName">
                        <th class="header px-90-cell-width multi-line-text" mat-header-cell *matHeaderCellDef>
                          System Name <br>
                          <mat-form-field class="filter select-width-95-perc" floatLabel="never">
                            <mat-label>Search</mat-label>
                            <!-- <input matInput [formControl]="letSystemNameFilter"> -->
                            <mat-select (selectionChange)="selectionSystemNameChange($event.value)" placeholder="Select" [formControl]="letSystemNameFilter" multiple>
                              <mat-option value="all">All</mat-option>
                              <mat-option *ngFor="let item of systemNameList" value="{{ item | lowercase }}">
                                  {{ item }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </th>
                        <td mat-cell class="px-90-cell-width" *matCellDef="let item">{{item.letSystemName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="dcClass">
                        <th class="header px-40-cell-width multi-line-text" mat-header-cell *matHeaderCellDef>
                          DC Class <br>
                          <mat-form-field class="filter select-width-95-perc" floatLabel="never">
                            <mat-label>Search</mat-label>
                            <!-- <input matInput [formControl]="dcClassFilter"> -->
                            <mat-select  (selectionChange)="selectionDcClassChange($event.value)" placeholder="Select" [formControl]="dcClassFilter" multiple>
                              <mat-option  value="all"  >All</mat-option>
                              <mat-option  *ngFor="let item of dcClassList" value="{{ item | lowercase }}">
                                  {{ item }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </th>
                        <td mat-cell class="px-40-cell-width" *matCellDef="let item">{{item.dcClass}}</td>
                    </ng-container>
                    <ng-container matColumnDef="reflash">
                      <th class="header px-60-cell-width" mat-header-cell *matHeaderCellDef>
                        Reflash <br>
                        <mat-form-field class="filter select-width-95-perc" floatLabel="never">
                          <mat-label>Search</mat-label>
                          <!-- <input matInput [formControl]="reflashFilter"> -->
                          <mat-select  placeholder="Select" [formControl]="reflashFilter">
                              <mat-option value="">All</mat-option>
                              <mat-option value="true">Yes</mat-option>
                              <mat-option value="false">No</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </th>
                      <td mat-cell class="px-60-cell-width" *matCellDef="let item">{{item.reflash ? 'Yes' : 'No'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="scrapParts">
                        <th class="header px-60-cell-width multi-line-text" mat-header-cell *matHeaderCellDef>
                          Strglr - New <br>
                          <mat-form-field class="filter select-width-95-perc" floatLabel="never">
                            <mat-label>Search</mat-label>
                            <!-- <input matInput [formControl]="scrapPartsFilter"> -->
                            <mat-select  placeholder="Select" [formControl]="scrapPartsFilter">
                                <mat-option value="">All</mat-option>
                                <mat-option value="true">Yes</mat-option>
                                <mat-option value="false">No</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </th>
                        <td mat-cell class="px-60-cell-width" *matCellDef="let item">{{item.scrapParts ? 'Yes' : 'No'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="interchangeable">
                        <th class="header px-60-cell-width multi-line-text" mat-header-cell *matHeaderCellDef>
                          Inter changeable <br>
                          <mat-form-field class="filter select-width-95-perc" floatLabel="never">
                            <mat-label>Search</mat-label>
                            <!-- <input matInput [formControl]="interchangeableFilter"> -->
                            <mat-select  placeholder="Select" [formControl]="interchangeableFilter">
                                <mat-option value="">All</mat-option>
                                <mat-option value="true">Yes</mat-option>
                                <mat-option value="false">No</mat-option>
                            </mat-select>

                          </mat-form-field>
                        </th>
                        <td mat-cell class="px-60-cell-width" *matCellDef="let item">{{item.interchangeable ? 'Yes' : 'No'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="dcEffBegDate">
                      <th class="header px-80-cell-width multi-line-text" mat-header-cell *matHeaderCellDef>
                        Eff Begin Date <br>
                        <mat-form-field class="filter select-width-95-perc" floatLabel="never">
                          <mat-label>Search</mat-label>
                          <!--<input matInput [formControl]="dcEffBegDateFilter">-->
                          <!-- <input  matInput [formControl]="dcEffBegDateFilter" [matDatepicker]="dcEffBegDatePicker"  placeholder="MM/dd/yyyy" [(ngModel)]="dcEffBegDateFilter"  id="dcEffBegDateFilter"  name="dcEffBegDateFilter" >
                          <mat-datepicker-toggle  matSuffix [for]="dcEffBegDatePicker"></mat-datepicker-toggle>
                          <mat-datepicker #dcEffBegDatePicker></mat-datepicker> -->
                          <mat-select (selectionChange)="selectionEffBeginDateChange($event.value)" placeholder="Select" [formControl]="dcEffBegDateFilter" multiple>
                            <mat-option value="all">All</mat-option>
                            <mat-option *ngFor="let item of dcEffDateList" value="{{ item | slice:0:10 }}">
                                {{ item | slice:0:10}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </th>
                      <td mat-cell class="px-80-cell-width" *matCellDef="let item">{{item.dcEffBegDate | date:'yyyy-MM-dd'}}</td>
                  </ng-container>
                  <ng-container matColumnDef="startingProductionLot">
                        <th class="header px-110-cell-width multi-line-text" mat-header-cell *matHeaderCellDef>
                            Start Prod Lot <br>
                          <mat-form-field class="filter select-width-90-perc" floatLabel="never">
                            <mat-label>Search</mat-label>
                             <!--<input matInput [formControl]="startingProductionLotFilter"> -->
                            <mat-select (selectionChange)="selectionStartProdLotChange($event.value)" placeholder="Select" [formControl]="startingProductionLotFilter" multiple>
                              <mat-option value="all">All</mat-option>
                              <mat-option *ngFor="let item of startProdLotList" value="{{ item }}">
                                  {{ item }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </th>
                        <td mat-cell class="px-100-cell-width" *matCellDef="let item">{{item.startingProductionLot}}</td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
                    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row)">
                    </tr> -->
                  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="row.approveStatus + '-status'"
                    (click)="selectRow(i, row); selection.toggle(row);" > </tr> <!-- [class.hover]="i == highlightedRow" [class.active]="i == selectedRow" -->
                 
                </table>
              </div>
        </mat-card-content>
        <mat-card-content id="lot_assignment_lower_panel">
            <div class="row">
                <div class="col-sm-5" style="padding-top: 3px;">
                    <div class="row" style="margin-left: unset;">
                      Starting Production Lot
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <input type="text" style="width:200px; height:25px" class="disabled_text_box" readonly maxlength="200" placeholder="Select Lot from List" id="selectedStartingProdLot" name="selectedStartingProdLot" [(ngModel)]="selectedStartingProdLot"/>
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-info" style="font-weight: bold;" (click)="selectProdLotDialog()">. . .</button> &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-info" (click)="linkLot()" >&nbsp;Link Lot&nbsp;</button>
                            &nbsp; &nbsp; &nbsp; <!--                    NALC-1082  -->
                            Selected: {{selection?.selected?.length}} / Filtered: {{dataSource?.filterPredicate ? dataSource?.filteredData?.length:0}} /  Total: {{dataSource?.data?.length}} 
                        </div>
                    </div>
                </div>
                <div class="col-sm-7" >
                  <alert></alert>
                  <p *ngIf="message && message?.type === 'ERROR'" style="background-color: red;" >{{ message.message }}</p>
                  <p *ngIf="message && message?.type === 'SUCCESS'" style="background-color: greenyellow;" >{{ message.message }}</p>
                  <p *ngIf="message && message?.type === 'WARNING'" style="background-color: yellow;" >{{ message.message }}</p>
                </div>
            </div>
            <div class="my-container">
              <ng-template #customLoadingTemplate>
                  <div class="custom-class">
                      <h3>
                          Please wait...
                      </h3>
                      
                  </div>
              </ng-template>
           
              <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
             
          </div>
        </mat-card-content>

    </mat-card>
</span>