<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>base-web-start</display-name>

	<context-param>
        <param-name>parentContextKey</param-name>
        <param-value>web.context</param-value>
    </context-param>

	<listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
	<servlet>
		<description>
		</description>
		<display-name>
		ClientLoaderServlet</display-name>
		<servlet-name>ClientLoaderServlet</servlet-name>
		<servlet-class>com.honda.galc.servlet.ClientLoaderServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RefreshPropertiesServlet</display-name>
		<servlet-name>RefreshPropertiesServlet</servlet-name>
		<servlet-class>
		com.honda.galc.servlet.RefreshPropertiesServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ClientDataServlet</display-name>
		<servlet-name>ClientDataServlet</servlet-name>
		<servlet-class>com.honda.galc.servlet.ClientDataServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientLoaderServlet</servlet-name>
		<url-pattern>/ClientLoaderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientLoaderServlet</servlet-name>
		<url-pattern>*.jnlp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientDataServlet</servlet-name>
		<url-pattern>*.act</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefreshPropertiesServlet</servlet-name>
		<url-pattern>RefreshProperties</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>JnlpGeneratorServlet</servlet-name>
        <!--Uses this jsp to dynamically create the jnlp file-->
        <jsp-file>/generate_jnlp.jsp</jsp-file>
    </servlet>
    <servlet>
    	<description>
    	JnlpGeneratorWithHostNameServlet</description>
    	<display-name>JnlpGeneratorWithHostNameServlet</display-name>
    	<servlet-name>JnlpGeneratorWithHostNameServlet</servlet-name>
    	<jsp-file>
    	/generate_jnlp_with_hostname.jsp</jsp-file>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AjaxRequestServlet</display-name>
    	<servlet-name>AjaxRequestServlet</servlet-name>
    	<servlet-class>com.honda.galc.servlet.AjaxRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>JnlpGeneratorWithHostNameServlet</servlet-name>
    	<url-pattern>*.host</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AjaxRequestServlet</servlet-name>
    	<url-pattern>/AjaxRequestServlet</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>web_start_home.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>
		Administrator_Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Administrator_Collection</web-resource-name>
			<url-pattern>/add_client.jsp</url-pattern>
			<url-pattern>/create_new_build.jsp</url-pattern>
			<url-pattern>/default_build.jsp</url-pattern>
			<url-pattern>/delete_build.jsp</url-pattern>
			<url-pattern>/delete_build.jsp</url-pattern>
			<url-pattern>/delete_client.jsp</url-pattern>
			<url-pattern>/edit_build.jsp</url-pattern>
			<url-pattern>/edit_client.jsp</url-pattern>
			<url-pattern>/show_client.jsp</url-pattern>
			<url-pattern>/galc_builds.jsp</url-pattern>
			<url-pattern>/web_start_clients.jsp</url-pattern>
			
			<url-pattern>/ADD_CLIENT.act</url-pattern>
			<url-pattern>/ADD_BUILD.act</url-pattern>
			<url-pattern>/EDIT_CLIENT.act</url-pattern>
			<url-pattern>/DELETE_CLIENT.act</url-pattern>
			<url-pattern>/UPDATE_CLIENT.act</url-pattern>
			<url-pattern>/UPDATE_CLIENTS.act</url-pattern>
			<url-pattern>/EDIT_BUILD.act</url-pattern>
			<url-pattern>/DELETE_BUILD.act</url-pattern>
			<url-pattern>/UPDATE_BUILD.act</url-pattern>
			<url-pattern>/SET_DEFAULT_BUILD.act</url-pattern>		
		</web-resource-collection>
		<auth-constraint>
			<description>
			Auto generated Authorization Constraint</description>
			<role-name>Administrator</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login_error.html</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<description>
		Administrator of the system.</description>
		<role-name>Administrator</role-name>
	</security-role>
</web-app>
