HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

*.swp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/.idea/modules.xml
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/tasks.xml
/.idea/shelf/
/.idea/libraries/
*.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.theia/

### HELM ###
charts/*/charts/
charts/*/Chart.lock
