<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->

	<servlet>
		<description>
		</description>
		<display-name>WebServiceDispatcherServlet</display-name>
		<servlet-name>WebServiceDispatcherServlet</servlet-name>
		<servlet-class>com.honda.galc.web.WebServiceDispatcherServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebServiceDispatcherServlet</servlet-name>
		<url-pattern>*.ws</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>FactoryNews.html</welcome-file>
	</welcome-file-list>

</web-app>
