<b>Categories</b>&nbsp;
<mat-form-field class="searchField">    
    <mat-icon matPrefix >search</mat-icon><input matInput type="search" class="searchInput" (keyup)="applyFilter($event)" #input>
</mat-form-field>
<app-new-category-form (categorySaved)="refreshCategories()"></app-new-category-form>
<hr>
<mat-table #categoryTable [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-class"><b>{{ column.header }}</b></mat-header-cell>
        <mat-cell *matCellDef="let row"> 
            {{ column.cell(row) }}
            <button mat-button *ngIf="(column.columnDef=='editButton')" (click)="editCategory(row)"><mat-icon class="editIcon">edit</mat-icon></button>
            <button mat-button *ngIf="(column.columnDef=='button')" (click)="deleteCategory(row)"><mat-icon class="deleteIcon">delete</mat-icon></button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></mat-header-row>
    <mat-row 
        *matRowDef="let row; columns: getDisplayedColumns();"
        [ngClass]="{'highlight': selectedRow.name == row.name}"
        (click)="onRowSelected(row)"> </mat-row>
</mat-table>
<mat-paginator *ngIf="dataSource.data.length>5"
              [length]="dataSource.data.length"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 15]"              
              [showFirstLastButtons]="true">
</mat-paginator>