.category-tab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.left-panel {
    display: inline-block;
    width: 58%;
    padding:20px;
    vertical-align: top;
    background-color: white;
}

.right-panel {
    display: inline-block;
    width: 38%;
    padding-top:30px;
    vertical-align: top;
}

app-category-table {
    width: 100%;
    padding-right: 25px;
}

app-application-map {
    width: 100%;
}