::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  font-size: 0.8em!important;
  max-height: 3.8vh!important;
}

.mat-radio-button {
  padding: 0.3em;
  font-size: 0.7em;
}

.filter-label {
  font-size: 8pt; 
  font-weight: 500; 
  color: white;
  background: cadetblue;
  width: 15vw; 
  border-radius: 1.5vh; 
  text-align: center;
  margin-left: 1vh;
  min-width: 4.5vw;
}

.grid-container {
  margin: 4vh;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
  height: 100%;
}

.border_bottom td {
  border-bottom: 1px solid rgb(235, 225, 225);
}

table {
  width: 100%;
}

.table-container {
  overflow: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.filter-checkbox-section {
  margin: 3vh 0 0 10vh;
}

.filter-dropdown {
  font-size: 1.8vh;
  width: 25vh;
}

::ng-deep .mat-form-field-infix {
  width: auto !important;
  height: auto !important;
}

::ng-deep .mat-autocomplete-panel .mat-option{
  font-size: 1.8vh;
}

.autocomplete-item {
  height: 50px;
}

.filter-div {
  padding: 0.5vh
}

::ng-deep .date-field .mat-form-field-wrapper{
  margin: 0px;
  padding: 0px;
}

.highlighted-cell {
  background: rgb(238, 250, 238);
  text-align: left;
  padding-left: 1vw;
}

.table-cell {
  text-align: left;
  padding-left: 1vw !important;
}

.redtablecell{
   color: red;
   padding-left: 1vw !important;
}

.redBackTableCell{
  background-color: rgb(233, 139, 139);
}

.greenBackTableCell{
  background-color: rgb(135, 228, 135);
}

.blueBoldtablecell{
  color:#205081;
  font-weight: bold;
  padding-left: 1vw;
}

tr.example-detail-row {
  height: 0 !important;
  border-bottom-style: none !important;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: #f0f4f7;;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: gray;
}

::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

.parent-div {
  display: flex;
}

.disabled-div{
  overflow: auto;
  pointer-events:none;
  opacity: 0.5;
}
#scrollable-area {
  height: 100%;
  overflow-y: hidden; /* <-- here is what is important*/
}
table {
width: 100%;
}
thead {
  background: #fff;
}
group-header{
  text-align: left;
  padding-left: 1vw;
  font-size: 1em;
  font-weight: bold;
  background: #777777;
  margin: 0px 0px 0px;

}
.inner-table {
  width: 100%;
  border: silver solid 0.3vh;
  margin-bottom: 1vh;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}

::ng-deep .mat-menu-content{
background-color:#c0bdbd;
}

.hidden {
  display: none;
}
::-webkit-scrollbar {
  width: 0.5vw;
  overflow-y: scroll;
  background: #dee0e4;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #2f679e;
  border-radius: 15px;
}

.mat-tooltip {
  white-space: pre-line !important;
  background-color: #2f679e;
  color: white;
  font-weight: 600;
}

/*
  CSS Used for Theming 
*/
.groupBlueBoldtablecell{
  color:#205081;
  font-weight: bold;
  background: #dee0e4;
  text-align:left;
  font-size: 1vw !important;
  padding-left: 1vw;
}
.mat-cell {
  font-size: 1vw !important;
}
.mat-header-cell {
  font-size: 0.8vw !important;
}
.table-row {
  height: 1.5vw !important;
}
.header-row {
  height: 6vh !important;
}


